################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDSProject
/RDS.API/bin/Debug/netcoreapp3.0
/RDS.API/obj
/RDS.Core/bin/Debug/netcoreapp3.0
/RDS.Core/obj
/RDS.Framework/bin/Debug/netcoreapp3.0
/RDS.Framework/obj
